#header{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #fff;
    z-index: 999999;
  
    
    .header{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: relative;

        #menubar{
            display: none;

            @media(min-width:375px) and (max-width:992px){
                display: block !important;
            }
        }
        
    }

   
    .nav{
        align-items: center;
        position: relative !important;
        display: flex;
        justify-content: space-between;

        @media(min-width:375px) and (max-width:992px){
            display: none !important;
        }

        a{
            
            font-size: 14px;
            color: #6F8BA4;
            text-decoration: none;
         
        }
        i{
            font-size: 10px;
            color: #6F8BA4;
        }

        .submenu-first{
            

            position: relative;
            &:hover .dropdown-first{
                transform: translateY(10px);
                visibility: visible;
                opacity: 1;
                z-index: 77;
            }


            .dropdown-first{

                background-color: #fff;
                position: absolute;
                flex-direction: column;
                top: 0;
                left: 0;
                width: 200px;
                box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
                border-radius: 5px;
                overflow: hidden;
                top: 30px;
                transform: translateY(-2em);
                visibility: hidden;
                opacity: 0;
                z-index: -1;
                display: flex;
                transition: all .2s;
    
                a{
                    height: 40px;
                    line-height: 40px;
                    color: #3B566E;
                    transition: all 0.5s ease 0s;
                    position: relative;
                    font-size: 13px;
                    border-bottom: 1px solid #f5f5f5;
                    position: relative;
                    margin-left: 3px;
    
                    &::after{
                        position: absolute;
                        content: '';
                        left: -8px;
                        top: 0;
                        background-color:  #585CE9;
                        height: 100%;
                        width: 1px;
                        transition: .5s;
                    }
                    
        
                    &:hover{
                        background: #f5f5f5;
                        padding-left: 25px;
                    }
    
                    &:hover::after{
                        width: 6px;
                        left: -3px;
                    }
                }
    
            }
    
        }

        .submenu-second{

            position: relative;

            &:hover .dropdown-second{
                transform: translateY(10px);
                visibility: visible;
                opacity: 1;
                z-index: 99;
            }

            .dropdown-second{

                position: absolute;
                flex-direction: column;
                top: 0;
                left: 0;
                width: 200px;
                box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
                border-radius: 5px;
                overflow: hidden;
                top: 30px;
                transform: translateY(-2em);
                visibility: hidden;
                opacity: 0;
                z-index: -1;
                display: flex;
                transition: all .2s;
                background-color: #fff;
    
                a{
                    height: 40px;
                    line-height: 40px;
                    color: #3B566E;
                    transition: all 0.5s ease 0s;
                    position: relative;
                    font-size: 13px;
                    border-bottom: 1px solid #f5f5f5;
                    position: relative;
                    margin-left: 3px;
    
                    &::after{
                        position: absolute;
                        content: '';
                        left: -8px;
                        top: 0;
                        background-color:  #585CE9;
                        height: 100%;
                        width: 1px;
                        transition: .5s;
                    }
                    
        
                    &:hover{
                        background: #f5f5f5;
                        padding-left: 25px;
                    }
    
                    &:hover::after{
                        width: 6px;
                        left: -3px;
                    }
                }
            }
        }
    }

    .signin{
        text-align: end;
        margin-left: 20px;

        @media(min-width:375px) and (max-width:992px){
            display: none !important;
        }

        .btn-nav-line{
            padding-left: 25px;
            padding-right: 25px;
            border: 1px solid #585CE9;
            border-radius: 5px;
            display: inline-block;
            height: 32px;
            line-height: 31px;
            letter-spacing: 0.5px;
            background: none;
            color: #585CE9;
            font-weight: 700;
            font-size: 12px;
            text-decoration: none;
            transition: .3s;
            &:hover{
                background-color: #585CE9;
                color: #fff;
            }
        }

        .btn-nav-primary{
            padding-left: 25px;
            padding-right: 25px;
            border: 1px solid #585CE9;
            border-radius: 5px;
            display: inline-block;
            height: 32px;
            line-height: 31px;
            letter-spacing: 0.5px;
            line-height: 31px;
            letter-spacing: 0.5px;
            background: #585CE9;
            color: #fff;
            margin-left: 15px;
            font-weight: 700;
            font-size: 12px;
            text-decoration: none;
            transition: .3s;
            &:hover{
                background-color: white;
                color: #585CE9;
            }
        }
    }

    .nav-mini{

        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99999999;
        display: none;
        background-color: rgb(249, 249, 249) !important;
        border-radius: 10px;
        border:1px solid #6F8BA4;

     

       
        a{
            height: 50px !important;
            line-height: 50px !important;
            padding: 0px !important;
            padding-left: 30px !important;
            border: none !important;
            color: #3B566E !important;
        }

        .submenu{
            
           
            
            i{

                font-size: 10px;
                color: #3B566E !important;
                margin-top: 20px;
            }

            .drop-down-first{
                display: flex;
                flex-direction: column;
                display: none;
            }

            .drop-down-second{
                display: flex;
                flex-direction: column;
                display: none;
            }
        }

        
        
    }
}


